[Unit]
Description=Mount adthext4 Partition at /run/media/coderdude/adthext4

[Mount]
What=/dev/disk/by-uuid/0e78d2eb-01e1-4bd1-ae5e-e982f6625f30
Where=/run/media/coderdude/adthext4
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target